<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Madlabproject"
        tools:targetApi="31">
        <activity android:name=".AdminLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".AdminRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".AdminHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".CalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".LocationActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCI7CwlYJ6Qt5pQGW--inSsJmdEManW-K0"/>
        <activity android:name=".MusicActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".GalleryActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mlt.mad_lab_project.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- HomeActivity (not exported, only accessible internally) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/> <!-- Added theme -->

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MadLabProject"> <!-- Added theme -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/> <!-- Added theme -->
        <activity android:name=".PuzzleGameActivity" android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".MemoryGameActivity" android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".TriviaGameActivity" android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".AdventureGameActivity" android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
        <activity android:name=".StrategyGameActivity" android:parentActivityName=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MadLabProject"/>
    </application>
</manifest>